@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap");
html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Raleway", sans-serif;
  font-size: 1.3em;
}

button {
  font-family: "Raleway", sans-serif;
  font-size: 1em;
  font-weight: bold;
}
p {
  font-family: "Raleway", sans-serif;
  font-size: 0.9rem;
  font-weight: bold;
}
.info__p {
  font-family: "Raleway", sans-serif;
  font-size: 1em;
}
div.info__p {
  font-size: 0.9rem;
  padding-top: 5px;
  font-weight: bold;
}
body {
  margin: 0;
  padding: 0;
}
/* Header */
header {
  width: 100%;
  margin: auto;
}
.header__top {
  display: flex;
  width: 1400px;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 90%;
  padding-bottom: 30px;
}

.header__top img {
  position: relative;
  bottom: 13px;
  width: 97px;
  height: 45px;
}
.header__center {
  margin: auto;
}

.header__find,
.header__search,
.header__filter {
  margin: auto;
  width: 90%;
}
.header__find {
  position: relative;
  bottom: 70px;
}
.header__title {
  font-size: 1.3rem;
    width: 80%;
}
.header__search {
  display: flex;
  margin-bottom: 15px;
  position: relative;
  bottom: 65px;
}
.header__search button {
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;
  padding: 10px 15px;
  font-size: 0.9em;
}
div.header__filter {
  position: relative;
  bottom: 80px;
}
.header__filter div.row {
  display: flex;
  justify-content: space-between;
  width: 70%;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  align-items: center;
  align-self: center;
}

ul {
  display: flex;
  justify-content: space-between;
}
li {
  list-style: none;
  padding: 50px 30px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}
a {
  text-decoration: none;
  color: initial;
}
a:hover {
  color: #0065fc;
}
nav ul li:nth-last-of-type(1) {
  margin-right: 0;
}
nav ul {
  margin-top: 0;
}
li.nav__active {
  border-top: 3px solid #0065fc;
}
li.nav__active a {
  color: #0065fc;
  position: relative;
  bottom: 3px;
}
li.link__color a {
  color: #0065fc;
  font-weight: bold;
}
input {
  padding: 15px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  outline: none;
  border: 1px solid #f2f2f2;
}
input::placeholder {
  color: #000;
  font-size: 1em;
  font-weight: bold;
}
button {
  font-family: "Raleway", sans-serif;
  padding: 10px;
  background: #0065fc;
  color: white;
  outline: none;
  border: 0;
  cursor: pointer;
}
.header__search div {
  width: 40px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f2f2f2;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.header__search div img {
  width: 40px;
  height: 20px;
}

.filter__icon img {
  height: 20px;
  color: blue;
}

.filter__item {
  border: 2px solid #bdc3c7;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  font-family: "Raleway", sans-serif;
  border-radius: 25px;
  padding-right: 15px;
  cursor: pointer;
  margin: 0 5px;
}
.filters-button:hover {
  background: #0065fc;
  color: white;
  cursor: pointer;
}
.filter__one {
  font-family: "Raleway", sans-serif;
}

.filter__icon {
  height: 40px;
  border-radius: 50%;
  width: 40px;
  display: flex;
  justify-content: center;
  margin-right: 10px;
  background: #deebff;
}

.info__icon {
  border-radius: 50%;
  width: 20px;
  justify-content: center;
  margin-right: 20px;
}
.info__icon img {
  background: #0065fc;
  border-radius: 50%;
  margin: 0;
  border: 1px solid #f2f2f2;
}

.filter__icon img {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.header__info {
  padding-top: 0px;
  margin: auto;
  width: 90%;
  display: flex;
  align-items: center;
  position: relative;
  bottom: 100px;
}

.container {
  display: flex;
  flex-direction: column;
}
.grid-container-1 {
  grid-gap: 20px;
  background-color: #f2f2f2;
  color: #000;
  width: 65%;
  padding-top: 80px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 20px;
  margin-right: 70px;
}
.section.group.grid-container-1 {
  padding: 0 30px;
  display: grid;
}
.grid-container-1 .hebergements,
.grid-container-2 .populaire {
  border-radius: 20px;
  display: flex;
}

.populaires {
  height: 150px;
  margin-top: 28px;
  margin-bottom: 0px;
  cursor: pointer;
}

.populaires .populaire__description {
  width: 100%;
  margin: 0;
  min-height: 150px;
}
.populaire__wd {
  width: 80%;
}
.populaires__img__soleil {
  background: url("../images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");
  padding-top: 0px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  margin-left: 0px;
  width: 40%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.populaires__img__eau {
  background: url("../images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg");
  padding-top: 0px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  margin-left: 0px;
  width: 40%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.populaires__img__bleu {
  background: url("../images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
  padding-top: 0px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  margin-left: 0px;
  width: 40%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.group.grid-container-2 {
  margin-bottom: 0;
}
.grid-container-2 {
  /* display: grid; */
  grid-template-columns: 1fr;
  grid-gap: 20px;
  background-color: #f2f2f2;
  color: #000;
  margin: auto;
  margin-top: 0;
  width: 35%;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 20px;
  margin-left: 40px;
}

.hebergements {
  height: 200px;
  display: flex;
}
/* .populaires {
  height: 100%;
  display: flex;
  position: relative;
  bottom: 26px;
} */

h3.populaire__title {
  color: #000;
  margin-top: 30px;
}
h2.hebergement__title {
  margin-bottom: 35px;
  margin-top: 8px;
}

.hebergements__img__cannebiere {
  background: url("../images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
  height: 200px;
  display: block;
  width: 100%;
  background-position: center;
  background-size: cover;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.hebergements__img__port {
  background: url("../images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
  height: 200px;
  display: block;
  width: 100%;
  background-position: center;
  background-size: cover;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.hebergements__img__mouette {
  background: url("../images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg");
  height: 200px;
  display: block;
  width: 100%;
  background-position: center;
  background-size: cover;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
.hebergements__img__mer {
  background: url("../images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
  height: 200px;
  display: block;
  width: 100%;
  background-position: center;
  background-size: cover;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
.hebergements__img__panier {
  background: url("../images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
  height: 200px;
  display: block;
  width: 100%;
  background-position: center;
  background-size: cover;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
.hebergements__img__amina {
  background: url("../images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
  height: 200px;
  display: block;
  width: 100%;
  background-position: center;
  background-size: cover;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

/* .populaires__img1 {
    background:url('../images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg');
} */
.hebergement__description {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  border-radius: 20px;
  border-top: 5px solid #fff;
  border-left: 5px solid #fff;
  border-right: 5px solid #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
/* .hebergement__description:hover {
  cursor: pointer;
  transform: scale(1.03);
  transition: all 0.4s ease 0s;
} */
.populaire__description {
  display: flex;
  justify-content: flex-end;
  border-radius: 20px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: 5px solid #fff;
  height: auto;
}
.description__group {
  background: white;
  padding-left: 10px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding-bottom: 10px;
  padding-top: 5px;
}
.description__group h4 {
  margin: 6px 0px;
  font-size: 0.9em;
}
.populaire__top {
  position: relative;
  top: 10px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.group_3 .populaires:first-child {
  position: relative;
  bottom: 24px;
}
.populaire__top img {
  width: 30px;
}
.populaire__group {
  background: #fff;
  display: flex;
  flex-direction: column;
  background: #fff;
  justify-content: space-between;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 0px 10px;
  width: 60%;
}
.populaire__group .populaire__wd p {
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 0;
}
.populaire__group .populaire__wd p:nth-child(2) {
  margin-top: 5px;
}

.populaire__group .description__icon {
  margin-left: 10px;
}
.populaires.populaires__img__eau .populaire__wd,
.populaires.populaires__img__ .populaire__wd,
.populaires.populaires__img__bleu .populaire__wd {
  width: 90%;
}
.populaire__price,
.hebergement__price {
  font-size: 0.9em;
  font-weight: normal;
  padding: 0 !important;
}
p.hebergement__price {
  margin: 0 0 5px;
}
.populaire__price span {
  font-weight: bold;
}
.hebergement__price span {
  font-weight: bold;
}
.description__icon img {
  height: 16px;
}
.hebergement__description p {
  background: white;
}
.populaire {
  background: violet;
  height: 150px;
}
section {
  display: flex;
  width: 90%;
  margin: auto;
}
.mt-50 {
  margin-top: -78px;
}

.row.afficher__plus p {
  margin-top: 30px;
  font-weight: bold;
}

.act-50 {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 90%;
  margin-bottom: 50px;
}
.act-50 h4 {
  margin-top: 30px;
}

.vieuxPort {
  background: url("../images/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
  height: 400px;
  width: 260px;
  border-radius: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.calanques {
  background: url("../images/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 400px;
  width: 260px;
  border-radius: 20px;
}
.vieuxPort,
.Pomegues,
.frioul,
.calanques,
.garde,
.longchamp {
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: auto;
  flex-direction: column;
  box-shadow: 1px 1px 17px -9px rgb(0 0 0 / 75%);
}
.vieuxPort:hover,
.Pomegues:hover,
.frioul:hover,
.calanques:hover,
.garde:hover,
.longchamp:hover {
  cursor: pointer;
  transform: scale(1.03);
  transition: all 0.4s ease 0s;
}
.vieuxPort__bt,
.Pomegues__bt,
.frioul__bt,
.calanques__bt,
.garde__bt,
.longchamp__bt {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  background: #fff;
  width: 100%;
  padding-left: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
.Pomegues {
  height: 210px;
  background: url("../images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
  margin-bottom: 40px;
  width: 100%;
}
.frioul {
  background: url("../images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 150px;
  border-radius: 20px;
  width: 100%;
}
.garde {
  background: url("../images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 190px;
  border-radius: 20px;
  margin-bottom: 20px;
  width: 260px;
}
.longchamp {
  background: url("../images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 190px;
  border-radius: 20px;
  width: 260px;
}
/* Footer */
.footer {
  width: 100%;
}
.ft__bg {
  background: #f2f2f2;

  width: 100%;
  height: auto;
}
.footer h5 {
  font-size: 1em;
}
.footer ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  font-weight: normal;
}
.ft__link li {
  margin: 0;
  font-weight: normal;
  font-size: 0.9em;
  padding: 6px 0;
}

.section.group.filter {
  margin-left: 5%;
  display: none;
}
.section.group.filter .col.span_1_of_2 {
  margin-left: 0px;
}
.filters h3 {
  font-size: 1rem;
  display: inline;
  font-weight: bold;
}
.filters ul {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
}
.filters ul li {
  display: inline;
  font-weight: 700;
  border: solid 2px #e2e2e2;
  padding: 0 20px 0 0;
  margin: 10px;
  border-radius: 200px;
}

.icon-filter {
  background-color: #deebff;
  color: #0065fc;
  padding: 18px;
  border-radius: 200px;
  margin-right: 15px;
}

.info__icon .fas {
  color: #0065fc;
  font-size: 16px;
  padding: 7px 11px 7px 11px;
  border: solid 1px #d9d9d9;
  border-radius: 2000px;
  margin-right: 20px;
}

.col.span_1_of_2 {
  background: orange;
  margin-left: 10%;
  margin-right: 0;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/* .row__grid {
    display:flex;
    justify-content:space-between;
} */

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 30px 28px;
  grid-template-areas:
    ". . ."
    ". . .";
  position: relative;
  bottom: 22px;
}
.grid-populaire {
  display: grid;
  grid-template-columns: 1fr;
  
  gap: 0px 0px;
  grid-template-areas:
    "."
    "."
    ".";
}
.grid-activites {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 50px;
  grid-template-areas: ". . . .";
}

/* Grid section */
/*  SECTIONS  */
.section {
  clear: both;
  padding: 0px;
  margin: 0px;
}

/*  COLUMN SETUP  */
.col {
  display: block;
  float: left;
  margin: 1% 0 1% 1.6%;
}

section.hebergements {
  margin-left: 0;
  cursor: pointer;
  width:100%;
}

.col:first-child,
.col:last-child {
  margin-left: 0;
}

/*  GROUPING  */
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  zoom: 1; /* For IE 6/7 */
}

/*  GRID OF TWO  */
.span_2_of_2 {
  width: 100%;
}
.span_1_of_2 {
  width: 49.2%;
}

@media screen and (min-width: 768px) {
  div.header__find {
    position: relative;
    bottom: 70px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 768px) {
  /* div.container section.mt-50 {
    display:flex!important;
    flex-direction:row!important;
  } */
}
