@media (min-device-width: 961px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  /* Styles pour cette Media Queries */
  section.mt-50 {
    display: flex;
    flex-direction: column;
  }
  section.mt-50 #hebergements.section.group.grid-container-1 {
    width: 100%;
  }
  .group.grid-container-2 {
    width: 100%;
    margin-left: 0;
  }
  #activites .col.span_1_of_4 {
    margin: 1% 0 1% 1.8%;
  }
}
@media  (min-device-width: 641px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  /* Styles pour cette Media Queries */
  section.mt-50 {
    display: flex;
    flex-direction: column;
  }
  section.mt-50 #hebergements.section.group.grid-container-1 {
    width: 100%!important;
  }
  .group.grid-container-2 {
    width: 100%;
    margin-left: 0;
  }
  #activites .col.span_1_of_4 {
    margin: 1% 0 1% 3%;
  }
}
