@font-face {
    font-family: 'Raleway';
    src: url(../font/static/Raleway-ExtraBold.ttf) format('truetype');
    
}
@font-face {
    font-family: 'Raleway_p';
    src: url(../font/Raleway-VariableFont_wght.ttf) format('truetype');
}
html {
    scroll-behavior: smooth;
}
  
* {
    box-sizing:border-box;
}

h1 {
    font-family: 'Raleway';
    font-size:1.3em;
}
p, button, div {
    font-family: 'Raleway_p';
    font-size:1em;
    /* font-weight:bold; */
}

body {
    margin:0;
    padding:0;
}
/* Header */
header {
    width:100%;
    margin:auto;
}
.header__top {
    padding-top:40px;
    display: flex;
    width:1400px;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 90%;
    padding-bottom: 30px;
}
.header__center {
    margin: auto;
}

.header__find, .header__search, .header__filter {
    margin:auto;
    width:90%;
}
.header__search {
    display: flex;
    margin-bottom: 30px;
}
.header__search button {
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
    padding:10px 15px;
    font-size:0.9em;
}
.header__filter div.row {
    display: flex;
    justify-content: space-between;
    width:70%;
    font-family: 'Raleway_p';
    font-weight: bold;
    align-items: center;
    align-self: center;
}

ul {
    display:flex;
    justify-content: space-between;
}
li {
    list-style: none;
    margin:0 40px;
    font-family: 'Raleway_p';
    font-weight:bold;
}
a {
    text-decoration:none;
    color:initial;
}
a:hover {
    color:#0065FC;
}
nav ul li:nth-last-of-type(1) {
    margin-right:0;
}

input {
    padding:15px;
    font-family:'Raleway';
    font-weight: bold;
    outline:none;
    border:1px solid #f2f2f2;
}
input::placeholder {
    
    color:#000;
    font-size:1em;
    font-weight:bold;
}
button {
    font-family:'Raleway_p';
    padding:10px;
    background:#0065FC;
    color:white;
    outline:none;
    border:0;
    cursor:pointer;
    
}
.header__search div {
    width: 40px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    background:#f2f2f2;
    border-top-left-radius:9px;
    border-bottom-left-radius:9px;
}
.header__search div img {
    width: 40px;
    height: 20px;
}

.filter__icon img {

    height: 20px;
    color:blue;

}

.filter__item {
    border:1px solid #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    font-family:'Raleway';
    border-radius:25px;
    padding-right: 15px;
}
.filter__one {
    font-family:'Raleway';
}
.filter__item:nth-last-child(){
    width:100px;
}

.filter__icon {
    height: 40px;
    border-radius: 50%;
    width: 40px;
    display: flex;
    justify-content: center;
    margin-right: 10px;
    background:#DEEBFF;
}

.info__icon {
    height: 20px;
    border-radius: 50%;
    width: 20px;
    display: flex;
    justify-content: center;
    margin-right: 10px;  
}
.info__icon img {
    background:#0065FC;
    border-radius:50%;
    margin: 0;
    border: 1px solid #f2f2f2;
}

.filter__icon img {
    display:flex;
    justify-content:center;
    align-items: center;
    align-self: center;
    
}

.header__info {
    padding-top:20px;
    margin:auto;
    width:90%;
    display:flex;
    align-items: center;
}

.svg__col {
    fill:blue;
}