@font-face {
  font-family: "Raleway";
  src: url(../font/static/Raleway-ExtraBold.ttf) format("truetype");
}
@font-face {
  font-family: "Raleway_p";
  src: url(../font/Raleway-VariableFont_wght.ttf) format("truetype");
}
html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

h1 {
  font-family: "Raleway";
  font-size: 1.3em;
}
p,
button,
.info__p {
  font-family: "Raleway_p";
  font-size: 1em;
  font-weight: bold;
}

body {
  margin: 0;
  padding: 0;
}
/* Header */
header {
  width: 100%;
  margin: auto;
}
.header__top {
  display: flex;
  width: 1400px;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 90%;
  padding-bottom: 30px;
}

.header__top img {
  position: relative;
  bottom: 13px;
}
.header__center {
  margin: auto;
}

.header__find,
.header__search,
.header__filter {
  margin: auto;
  width: 90%;
}
.header__search {
  display: flex;
  margin-bottom: 30px;
}
.header__search button {
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;
  padding: 10px 15px;
  font-size: 0.9em;
}
.header__filter div.row {
  display: flex;
  justify-content: space-between;
  width: 70%;
  font-family: "Raleway_p";
  font-weight: bold;
  align-items: center;
  align-self: center;
}

ul {
  display: flex;
  justify-content: space-between;
}
li {
  list-style: none;
  padding: 50px 30px;
  font-family: "Raleway_p";
  font-weight: bold;
}
a {
  text-decoration: none;
  color: initial;
}
a:hover {
  color: #0065fc;
}
nav ul li:nth-last-of-type(1) {
  margin-right: 0;
}
nav ul {
  margin-top: 0;
}
li.nav__active {
  border-top: 3px solid #0065fc;
}
li.nav__active a {
  color: #0065fc;
  position: relative;
  bottom: 3px;
}
li.link__color a {
  color: #0065fc;
  font-weight: bold;
}
input {
  padding: 15px;
  font-family: "Raleway";
  font-weight: bold;
  outline: none;
  border: 1px solid #f2f2f2;
}
input::placeholder {
  color: #000;
  font-size: 1em;
  font-weight: bold;
}
button {
  font-family: "Raleway_p";
  padding: 10px;
  background: #0065fc;
  color: white;
  outline: none;
  border: 0;
  cursor: pointer;
}
.header__search div {
  width: 40px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f2f2f2;
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
}
.header__search div img {
  width: 40px;
  height: 20px;
}

.filter__icon img {
  height: 20px;
  color: blue;
}

.filter__item {
  border: 1px solid #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  font-family: "Raleway";
  border-radius: 25px;
  padding-right: 15px;
  cursor: pointer;
  margin:0 5px;
}
.filter__one {
  font-family: "Raleway";
}
.filter__item:nth-last-child() {
  width: 100px;
}

.filter__icon {
  height: 40px;
  border-radius: 50%;
  width: 40px;
  display: flex;
  justify-content: center;
  margin-right: 10px;
  background: #deebff;
}

.info__icon {
  height: 20px;
  border-radius: 50%;
  width: 20px;
  display: flex;
  justify-content: center;
  margin-right: 10px;
}
.info__icon img {
  background: #0065fc;
  border-radius: 50%;
  margin: 0;
  border: 1px solid #f2f2f2;
}

.filter__icon img {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.header__info {
  padding-top: 20px;
  margin: auto;
  width: 90%;
  display: flex;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
}
.grid-container-1 {
  grid-gap: 20px;
  background-color: #f2f2f2;
  color: #000;
  width: 65%;
  padding-top: 80px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 20px;
  margin-right: 70px;
}
.section.group.grid-container-1 {
  padding: 0 30px;
  display: grid;
}
.grid-container-1 .hebergements,
.grid-container-2 .populaire {
  border-radius: 20px;
  display: flex;
}

.populaires .populaire__description {
  width: 100%;
  margin: 0;
}
.populaire__wd {
  width: 80%;
}
.populaires__img__soleil {
  background: url("../images/hebergements/1_xlarge/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");
  padding-top: 0px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  margin-left: 0px;
  width: 40%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.populaires__img__eau {
  background: url("../images/hebergements/1_xlarge/aw-creative-VGs8z60yT2c-unsplash.jpg");
  padding-top: 0px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  margin-left: 0px;
  width: 40%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.populaires__img__bleu {
  background: url("../images/hebergements/1_xlarge/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
  padding-top: 0px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  margin-left: 0px;
  width: 40%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.group.grid-container-2 {
  margin-bottom: 0;
}
.grid-container-2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  background-color: #f2f2f2;
  color: #000;
  margin: auto;
  margin-top: 0;
  width: 35%;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 20px;
  margin-left: 40px;
}

.hebergements {
  background: pink;
  height: 200px;
  display: flex;
}
.populaires {
  height: 150px;
  display: flex;
  position: relative;
  bottom: 26px;
}

h1.populaire__title {
  color: #000;
  margin-top: 30px;
}
h1.hebergement__title {
  margin-bottom: 0px;
  margin-top: 20px;
}

.hebergements__img__cannebiere {
  background: url("../images/hebergements/1_xlarge/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
  height: 200px;
  display: block;
  width: 100%;
  background-position: center;
  background-size: cover;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.hebergements__img__port {
  background: url("../images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
  height: 200px;
  display: block;
  width: 100%;
  background-position: center;
  background-size: cover;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.hebergements__img__mouette {
  background: url("../images/hebergements/1_xlarge/reisetopia-B8WIgxA_PFU-unsplash.jpg");
  height: 200px;
  display: block;
  width: 100%;
  background-position: center;
  background-size: cover;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
.hebergements__img__mer {
  background: url("../images/hebergements/1_xlarge/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
  height: 200px;
  display: block;
  width: 100%;
  background-position: center;
  background-size: cover;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
.hebergements__img__panier {
  background: url("../images/hebergements/1_xlarge/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
  height: 200px;
  display: block;
  width: 100%;
  background-position: center;
  background-size: cover;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
.hebergements__img__amina {
  background: url("../images/hebergements/1_xlarge/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
  height: 200px;
  display: block;
  width: 100%;
  background-position: center;
  background-size: cover;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

/* .populaires__img1 {
    background:url('../images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg');
} */
.hebergement__description {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  border-radius: 20px;
  border-top: 5px solid #fff;
  border-left: 5px solid #fff;
  border-right: 5px solid #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.populaire__description {
  display: flex;
  justify-content: flex-end;
  border-radius: 20px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: 5px solid #fff;
}
.description__group {
  background: white;
  padding-left: 10px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
}
.description__group p {
  margin: 6px 0px;
  font-size: 0.8em;
}
.populaire__top {
  display: flex;
  justify-content: space-between;
  position: relative;
  bottom: 13px;
}
.populaire__top .populaires:first-child {
  position: relative;
  bottom: 24px;
}
.populaire__top img {
  width: 30px;
}
.populaire__group {
  background: #fff;
  display: flex;
  flex-direction: column;
  background: #fff;
  justify-content: space-between;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 0px 10px;
  width: 60%;
}
.populaire__group .populaire__wd p {
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 0;
}
.populaire__group .populaire__wd p:nth-child(2) {
  margin-top: 5px;
}

.populaire__group .description__icon {
  margin-left: 10px;
}
.populaires.populaires__img__eau .populaire__wd,
.populaires.populaires__img__ .populaire__wd,
.populaires.populaires__img__bleu .populaire__wd {
  width: 90%;
}
.populaire__price,
.hebergement__price {
  font-size: 0.9em;
  font-weight: normal;
  padding: 0 !important;
}
.populaire__price span {
  font-weight: bold;
}
.hebergement__price span {
  font-weight: bold;
}
.description__icon img {
  height: 10px;
}
.hebergement__description p {
  background: white;
}
.populaire {
  background: violet;
  height: 150px;
}
section {
  display: flex;
  width: 90%;
  margin: auto;
}
.mt-50 {
  margin-top: 50px;
}

.row.afficher__plus p {
  margin-top: 30px;
  font-weight: bold;
}

/* Activités */
/* .section.group.grid-container-3 { 
    display:flex;
    justify-content: space-between;
} */
.act-50 {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 90%;
  margin-bottom: 50px;
}
.act-50 h1 {
  margin-top: 30px;
}
.vieuxPort {
  background: url("../images/activites/1_xlarge/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
  height: 400px;
  width: 260px;
  border-radius: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.calanques {
  background: url("../images/activites/1_xlarge/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 400px;
  width: 260px;
  border-radius: 20px;
}
.vieuxPort,
.Pomegues,
.frioul,
.calanques,
.garde,
.longchamp {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: auto;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.vieuxPort__bt,
.Pomegues__bt,
.frioul__bt,
.calanques__bt,
.garde__bt,
.longchamp__bt {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  background: #fff;
  min-width: 260px;
  padding-left: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
.Pomegues {
  height: 210px;
  background: url("../images/activites/1_xlarge/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
  margin-bottom: 40px;
  width: 250px;
}
.frioul {
  background: url("../images/activites/1_xlarge/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 150px;
  border-radius: 20px;
  width: 250px;
}
.garde {
  background: url("../images/activites/1_xlarge/florian-wehde-xW9e8gdotxI-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 190px;
  border-radius: 20px;
  margin-bottom: 20px;
  width: 260px;
}
.longchamp {
  background: url("../images/activites/1_xlarge/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 190px;
  border-radius: 20px;
  width: 260px;
}
/* Footer */
.footer {
  width: 100%;
}
.ft__bg {
  background: #f2f2f2;

  width: 100%;
  height: auto;
}
.footer h1 {
  font-size: 1em;
}
.footer ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  font-weight: normal;
}
.ft__link li {
  margin: 0;
  font-weight: normal;
  font-size: 0.9em;
  padding: 6px 0;
}

.section.group.filter {
  margin-left: 5%;
  display:none;
}
.section.group.filter .col.span_1_of_2 {
  margin-left: 0px;
}

.col.span_1_of_2 {
  background: orange;
  margin-left: 10%;
  margin-right: 0;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/* .row__grid {
    display:flex;
    justify-content:space-between;
} */

/* Grid section */
/*  SECTIONS  */
.section {
  clear: both;
  padding: 0px;
  margin: 0px;
}

/*  COLUMN SETUP  */
.col {
  display: block;
  float: left;
  margin: 1% 0 1% 1.6%;
}

section.hebergements {
  margin-left: 0;
}

.col:first-child {
  margin-left: 0;
}

/*  GROUPING  */
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  zoom: 1; /* For IE 6/7 */
}

/*  GRID OF TWO  */
.span_2_of_2 {
  width: 100%;
}
.span_1_of_2 {
  width: 49.2%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
  .col {
    margin: 1% 0 1% 0%;
  }
}

@media only screen and (max-width: 480px) {
  .span_2_of_2,
  .span_1_of_2 {
    width: 100%;
  }
}

/*  GRID OF THREE  */
.span_3_of_3 {
  width: 100%;
}
.span_2_of_3 {
  width: 66.13%;
}
.span_1_of_3 {
  width: 32.26%;
}

/* OVER 1000 PIXELS */
@media only screen and (min-width: 1000px) {
  #activites .col:first-child {
    margin-left: 0;
  }
  #activites .col.span_1_of_4:last-child {
    margin-right: 0;
  }
  #activites .col {
    margin: 1% 0 1% 5%;
  }
  #hb__left .col.span_1_of_3:first-child {
    margin-left: 0;
  }
  #hb__left .col.span_1_of_3:last-child {
    margin-right: 0;
  }
  #hb__left .col {
    margin: 0;
  }
}

/*  GO 50% WIDTH BELOW 1000 PIXELS */
@media only screen and (max-width: 1000px) {
  .col {
    margin: 1% 1% 1% 1%;
  }
  .span_3_of_3,
  .span_2_of_3,
  .span_1_of_3 {
    width: 33%;
  }
  .mt-50 {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .grid-container-2 {
    width: 100%;
    margin: 0 auto;
  }
  .header__center {
    display: none;
  }
  .section.group.grid-container-1 {
    width: 100%;
  }
}

/*  GO 50% WIDTH BELOW 750 PIXELS */
@media only screen and (max-width: 750px) {
  .section.group.grid-container-1 {
    width: 100%;
  }
  .span_3_of_3,
  .span_2_of_3,
  .span_1_of_3 {
    width: 50%;
  }
}
/*  GO FULL WIDTH BELOW 600 PIXELS */
@media only screen and (max-width: 600px) {
  .section.group.grid-container-1 {
    width: 100%;
  }
  .col {
    margin: 1% 0 1% 0%;
  }
  .span_3_of_3,
  .span_2_of_3,
  .span_1_of_3 {
    width: 100%;
  }
  .mt-50 {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .grid-container-2 {
    width: 100%;
    margin: 0 auto;
  }
  .grid-container-3 {
    width: 260px;
    margin: 0 auto;
  }
  .header__center {
    display: none;
  }
  section {
    width: 100%;
  }
  .footer {
    margin-left: 30px;
  }
  .header__top {
    flex-direction: column;
  }

  .header__top img {
    margin-top:30px;
  }
}

@media only screen and (max-width: 414px) {
  nav {
    display: none;
  }
  .row.filter__resp {
    flex-direction: column;
  }
  .header__filter div.row {
    width: initial;
  }
  .header__search,
  .act-50 {
    justify-content: center;
  }
  .vieuxPort__bt,
  .Pomegues__bt,
  .frioul__bt,
  .calanques__bt,
  .garde__bt,
  .longchamp__bt {
    padding-left: 0;
  }
}
@media only screen and (min-width: 394px) {
  .header__mobile,
  .header__mobile.second {
    display: none;
  }
  button.mobile {
    display: none;
  }
}
/* Responsive for REDMI note 8 Pro */
@media only screen and (max-width: 393px) {
  .container {
    width: 100%;
  }
  .header__top {
    display: none;
  }
  .header__mobile {
    display: flex;
    justify-content: space-around;
    margin: 30px;
    margin-left: -30px;
    align-items: center;
    margin-bottom: 15px;
  }
  .header__mobile__r {
    position: relative;
    left: 60px;
  }
  .header__mobile__r p a {
    color: #0065fc;
  }
  .header__mobile.second {
    margin: 0;
    padding-bottom: 0;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 40px;
  }
  .header__mobile.second div {
    width: 50%;
  }
  .header__mobile.second div p {
    text-align: center;
  }
  .header__mobile.second .active {
    color: #0065fc;
    border-bottom: 3px solid #0065fc;
  }
  .active p a {
    color: #0065fc;
  }
  .header__mobile.second .not-active {
    border-bottom: 3px solid #f2f2f2;
  }
  button.desktop {
    display: none;
  }
  button.mobile {
    border-radius: 9px;
    position: relative;
    right: 5px;
  }
  button.mobile img {
    width: 20px;
  }
  /* Activites */
  .vieuxPort,
  .frioul,
  .Pomegues,
  .calanques,
  .garde,
  .longchamp {
    height: 170px;
    width: 300px;
  }
  .col.span_1_of_4 {
    margin: 15px 0;
  }
  .vieuxPort__bt,
  .Pomegues__bt,
  .frioul__bt,
  .calanques__bt,
  .garde__bt,
  .longchamp__bt {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    background: #fff;
    min-width: 300px;
    padding-left: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  .grid-container-3 {
    margin: 0;
  }
  .act-50 {
    width: 85%;
  }
}

/* RESPONSIVE for iPhone 6/7/8 */
@media only screen and (max-width: 375px) {
  .container {
    width: 100%;
  }
  .header__top {
    display: none;
  }
  .header__mobile {
    display: flex;
    justify-content: space-around;
    margin: 30px;
    margin-left: -30px;
    align-items: center;
    margin-bottom: 15px;
  }
  .header__mobile__r {
    position: relative;
    left: 60px;
  }
  .header__mobile__r p a {
    color: #0065fc;
  }
  .header__mobile.second {
    margin: 0;
    padding-bottom: 0;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 40px;
  }
  .header__mobile.second div {
    width: 50%;
  }
  .header__mobile.second div p {
    text-align: center;
  }
  .header__mobile.second .active {
    color: #0065fc;
    border-bottom: 3px solid #0065fc;
  }
  .active p a {
    color: #0065fc;
  }
  .header__mobile.second .not-active {
    border-bottom: 3px solid #f2f2f2;
  }
  button.desktop {
    display: none;
  }
  button.mobile {
    border-radius: 9px;
    position: relative;
    right: 5px;
  }
  button.mobile img {
    width: 20px;
  }
  /* Activites */
  .vieuxPort,
  .frioul,
  .Pomegues,
  .calanques,
  .garde,
  .longchamp {
    height: 170px;
    width: 300px;
  }
  .col.span_1_of_4 {
    margin: 15px 0;
  }
  .vieuxPort__bt,
  .Pomegues__bt,
  .frioul__bt,
  .calanques__bt,
  .garde__bt,
  .longchamp__bt {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    background: #fff;
    min-width: 300px;
    padding-left: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  .grid-container-3 {
    margin: 0;
  }
  .act-50 {
    width: 85%;
  }
}
/* RESPONSIVE for Pixel 2 */
@media only screen and (max-width: 411px) {
  .container {
    width: 100%;
  }
}
/* RESPONSIVE IPhone X */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  .container {
    width: 100%;
  }
}
